log/
*.py[co]
static/
media/
whoosh_index/
geodata/
squelo_backend/uwsgi.dev.ini
.DS_STORE

# docker related stuff
/docker/build/app/code
/docker/build/appbase/code
/docker/build/cron/code
/docker/build/appbase/requirements.txt
/docker/build/appbase/start.sh

# IDEs and editor
/.idea
*.sublime-workspace
