<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    ​
  </head>
  <body>
    <div style="font-family:'Open Sans',sans-serif;font-weight:100;color:#464f55;font-size:14px">
      <h1 style="font-weight:500;font-size:28px">YOUR SQUELO INVITE IS HERE</h1>
      <br>
      <p>Hey there!</p>
      ​
      <p>Big thanks for requesting an invite to join Squelo. We are working hard to give you the most
      amazing experience of our revolutionary platform. </p>
      ​
    <p>Follow this link to complete your signup process <a class="blue" style="color: #6A96D2;" href="{{ url }}">Signup</a>.</p>
      ​
      <p>Don't forget to Tweet us, Like us. Still time left? Read our <a href="https://medium.com/@squelo" style="color:#6a96d2">blog</a>. We look forward to welcoming you!</p>
      ​
      <br>
      <p>Yours truly,</p>
      ​
      <p>The Squelo Squad</p>
    </div>
    <div style="text-align:center;width:100%;padding:15px 0">
      <a href="{{ url }}" style="background:#6a96d2;color:white;border-radius:45px;padding:15px 30px;text-decoration:none;font-family:'Open Sans',sans-serif;display:inline-block" target="_blank">GET STARTED</a>
    </div>
    <div style="color:#464f55;text-align:center;margin:30px 0;font-family:'Open Sans',sans-serif">
      <h3>CONNECT WITH US</h3>
      <a style="text-decoration:none" href="http://facebook.com/mysquelo" target="_blank">
        <img alt="facebook"
             src="https://ci4.googleusercontent.com/proxy/sbC8AJ6ztYsIf1W1uRD84IjUkVClzPpNP_br23ZsrW6sTjkGgyo8FgX7KBN-CeoEPCc0mlhpNt4D5_T9-B6UCPGyGhIgn3t5P8_8wDwdLWNdE5i-rmrp-kOfALdUp1vvZbWqOLDPnmOaLly_NsE=s0-d-e1-ft#https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_color-48.png"
             class="CToWUd">
      </a>
      <a style="text-decoration:none" href="http://twitter.com/mysquelo" target="_blank">
        <img alt="twitter" src="https://ci3.googleusercontent.com/proxy/fKHWA_sfH6eBhZMRdWyzBOPwT8reRfiGLm7s61YgyfWzD2theyAbV0M1EMEO1dHjh0rXTE2h5aNsWmtQrR0-uvkwuaVA0lQHbUlcAbBouz_WtlQ2ZekWf3B8hDYnUALMUAv-u9KzJmZ5efobiw=s0-d-e1-ft#https://cdn3.iconfinder.com/data/icons/free-social-icons/67/twitter_circle_color-48.png"
             class="CToWUd">
      </a>
      <a style="text-decoration:none" href="http://instagram.com/mysquelo" target="_blank">
        <img alt="instagram"
             src="https://ci3.googleusercontent.com/proxy/KivJTsgOIJJ_BC1QkPAkCpcyTL-gPgB4RoPTvWZYt_nEDbE4WzTSwj8jo30kjY9uFBMMYgtz6Fke1dRHdAJQWhrBiRkm44Hsdm2VHucm4MRNjM5X2stnETRfOBB_JjnyTOIWnH7w8rmZE_3znOCJ=s0-d-e1-ft#https://cdn3.iconfinder.com/data/icons/free-social-icons/67/instagram_circle_color-48.png"
             class="CToWUd">
      </a>
      <p style="font-weight:300;font-size:12px; color:#99ACB9; margin-top: 15px;">Squelo Ltd. 77 Sir John Rogerson's, Quayunit 1, Dublin 2</p>
      <p style="font-weight:300;font-size:14px; color:#99ACB9; text-decoration: none;">If you would like to unsubscribe and stop receiving these emails click <a href="[unsubscribe_link]">here</a></p>
    </div>
  </body>
</html>
