<div style="padding: 30px">
<div id="body"
     style="font-family: 'Open Sans', sans-serif;
     font-weight: 100;
     color: #464F55;
     font-size: 14px;">
  <h1 style="font-weight: 500;
  font-size: 28px;">Reset your password</h1>
  <br />
  <p>Hey there!</p>

  <p>Follow this link to complete reseting your password <a class="blue" style="color: #6A96D2;" href="{{ url }}">Reset</a>.</p>

  <br />
  <p>Yours truly,</p>

  <p>The Squelo Squad</p>
</div>
<div id="getstarted" style="text-align: center;
width: 100%;
padding: 15px 0;">
  <a href="{{ url }}" class="btn" style="background: #6A96D2;
  color: white;
  border-radius: 45px;
  padding: 15px 30px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;">Reset Password</a>
</div>
<div id="connect" style="color: #464F55;
text-align: center;
margin: 30px 0;
font-family: 'Open Sans', sans-serif;">
  <h3>CONNECT WITH US</h3>
  <a style="text-decoration: none;" target="_blank" href="http://facebook.com/mysquelo">
    <img alt="facebook" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_color-48.png" />
  </a>
  <a style="text-decoration: none;" target="_blank" href="http://twitter.com/mysquelo">
    <img alt="twitter" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/twitter_circle_color-48.png" />
  </a>
  <a style="text-decoration: none;" target="_blank" href="http://instagram.com/mysquelo">
    <img alt="instagram" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/instagram_circle_color-48.png" />
  </a>
  <a style="text-decoration: none;" target="_blank" href="http://medium.com/@squelo">
    <img alt="medium" src="https://cdn0.iconfinder.com/data/icons/picons-social/57/108-medium-48.png" />
  </a>
</div>
</div>
