<style>
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
</style>
<style>
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
</style>
<div style="padding: 30px">
  <div>
    <img style="width: 500px; margin: auto; text-align: center;" src="http://squelo.com/assets/img/Illustration.png" />
  </div>
  <div id="body"
       style="font-family: 'Open Sans', sans-serif;
       font-weight: 100;
       color: #464F55;
       font-size: 14px;">
    <h1 style="font-weight: 500;
    font-size: 28px; margin: 30px 0;">Welcome to Squelo</h1>
    <h2 style="font-weight: 400; color:#6A96D2; margin-bottom: 30px;">Thanks for signing up {{$data['first_name']}}! We're excited to have you join us.</h2>

    <h3 style="font-size: 18px;">How to Get Started</h3>

    <p><strong>Complete your Profile</strong></p>

    <p>Squelo is the world's next talent network helping everyone better stand out, share life & work experiences in an simple,
    modern & beautiful way. Squelo is the new home for your talent and where you can show all your achievements to impress
    companies.</p>

    <p><strong>Your Timeline</strong></p>

    <p>Your Timeline is like your online CV. Just better. It allows you also to add events, projects or anything else you are 
    proud of and that makes you stand out. Have you been to a hackathon, conference or did a cool project on the side? Show it.</p>

    <p><strong>Your Works</strong></p>

    <p>Works is a collection of all your work, achievements and success stories. Whether you got images, videos, music, PDFs or even 
    computer code, everything is supported. It essentially the portfolio with all your projects and work to show & impress the world.</p>
  </div>
  <div id="getstarted"
       style="width: 100%;
       padding: 30px 0;
       padding-bottom: 15px;
       font-family: 'Open Sans', sans-serif;
       font-weight: 100;
       font-size: 14px;
       color: #464F55;">
    <p><strong>And, please don't forget to <a href="#" style="color: #6A96D2">confirm your email address</a>.</strong></p>
    <p>Questions? Just get intouch with us at <a style="color: #6A96D2" href="mailto:hello@squelo.com">hello@squelo.com</a>
  </div>
  <div id="connect" style="color: #464F55;
  margin: 10px 0;
  font-family: 'Open Sans', sans-serif;">
    <h3>CONNECT WITH US</h3>
    <a style="text-decoration: none;" target="_blank" href="http://facebook.com/mysquelo">
      <img alt="facebook" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_color-48.png" />
    </a>
    <a style="text-decoration: none;" target="_blank" href="http://twitter.com/mysquelo">
      <img alt="twitter" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/twitter_circle_color-48.png" />
    </a>
    <a style="text-decoration: none;" target="_blank" href="http://instagram.com/mysquelo">
      <img alt="instagram" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/instagram_circle_color-48.png" />
    </a>
    <a style="text-decoration: none;" target="_blank" href="http://medium.com/@squelo">
      <img alt="medium" src="https://cdn0.iconfinder.com/data/icons/picons-social/57/108-medium-48.png" />
    </a>
  </div>
</div>
