{% extends "admin/base_site.html" %}
{% block title %}List of Topics{% endblock %}


{% block content %}
<h1>Topics list</h1>
<!--<table>
<tr>
  <td>Person</td>
  <td>Blog Count</td>
  <td>Total Bytes</td>
</tr>
{% for item in uList %}
  <tr align="center">
    <td>{{ item.person.name }}</td>
    <td>{{ item.count }}</td>
    <td>{{ item.size }}</td>
  </tr>
{% endfor %}
</table>-->

h1>Enter topic to add</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url add_topic%}" method="post">
{% csrf_token %}
   Topic:<br>
  <input type="text" name="topic"><br>
<input type="submit" value="Create topic" />
</form>
{% endblock %}
